# Environment files
.env
*.env

# Next.js build
.next/
.next/**

# Lockfiles
package-lock.json
pnpm-lock.yaml

# Python
__pycache__/
*.pyc

# Node
node_modules/

# Logs
*.log

# System
.DS_Store

venv/

.vscode/